body {
  font-family: sans-serif;
  background: #0f0f0f;
  color: #eee;
}

.task {
  background: #1c1c1c;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
}
button {
  background: #4caf50;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
}

input {
  display: block;
  margin: 5px 0;
  padding: 6px;
  border-radius: 6px;
  border: none;
}

small {
  color: #aaa;
}

.timeline {
  position: relative;
  height: 600px;
  border-left: 2px solid #444;
  margin: 20px 0;
}

.timeline::before {
  content: "";
  position: absolute;
  left: -6px;
  top: 0;
  bottom: 0;
  width: 10px;
}

.timeline-task {
  position: absolute;
  left: 20px;
  width: 80%;
  padding: 8px;
  border-radius: 8px;
  font-size: 12px;
  box-sizing: border-box;
}

.timeline-task.planned {
  background: #333;
}

.timeline-task.active {
  background: #1e88e5;
}

.timeline-task.done {
  background: #43a047;
}
