body {
  font-family: sans-serif;
  background: #0f0f0f;
  color: #eee;
}

.task {
  background: #1c1c1c;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
}
button {
  background: #4caf50;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
}

input {
  display: block;
  margin: 5px 0;
  padding: 6px;
  border-radius: 6px;
  border: none;
}

small {
  color: #aaa;
}
