<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

  <h2>Today's Plan</h2>

  {% if not plan_exists and not locked %}
  <p>No plan for today.</p>
  <a href="/plan">
    <button>Create Today's Plan</button>
  </a>
  {% elif not plan_exists and locked %}
  <p>⏳ Planning is locked for today</p>
  {% endif %}


  {% for task in tasks %}
  <div class="task">
    <h3>{{ task.title }}</h3>
    <p>{{ task.description }}</p>
    <small>
      🕒 {{ task.expected_start.strftime('%H:%M') }}
      –
      {{ task.expected_end.strftime('%H:%M') }}
    </small>


    {% if task.status == 'pending' %}
    <button onclick="startTask({{ task.id }})">Start</button>
    {% elif task.status == 'active' %}
    <button onclick="completeTask({{ task.id }})">Complete</button>
    {% else %}
    <span>Done ✔</span>
    {% endif %}
  </div>
  {% endfor %}

  <hr>

  <h3>Add Friend</h3>
  <form method="POST" action="/add-friend">
    <input name="username" placeholder="Friend username" required>
    <button>Add</button>
  </form>

  <hr>

  <h3>Friend Progress</h3>

  {% for friend, tasks in friends_data %}
  <h4>{{ friend.username }}</h4>
  {% if tasks %}
  {% for t in tasks %}
  <div class="task">
    {{ t.title }} — {{ t.status }}
    <br>
    <small>
      🕒 {{ t.expected_start.strftime('%H:%M') }}
      –
      {{ t.expected_end.strftime('%H:%M') }}
    </small>

  </div>
  {% endfor %}
  {% else %}
  <p>No plan today</p>
  {% endif %}
  {% endfor %}

  <script src="/static/js/app.js"></script>
</body>

</html>