<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/static/css/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

  <h2 id="title">Login</h2>

  {% if error %}
  <p style="color:red">{{ error }}</p>
  {% endif %}

  <form method="POST">
    <input name="username" placeholder="Username" required>
    <input name="password" type="password" placeholder="Password" required>
    <input type="hidden" name="mode" id="mode" value="login">
    <button type="submit" id="submitBtn">Login</button>
  </form>

  <br>
  <button onclick="switchMode()">New user?</button>

  <script>
    function switchMode() {
      document.getElementById("title").innerText = "Register";
      document.getElementById("submitBtn").innerText = "Create Account";
      document.getElementById("mode").value = "register";
    }
  </script>

</body>

</html>